/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fdfdfd;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 2rem;
    background: #ee9eea;
}

.hero h2 {
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #555;
}

.featured-books {
    padding: 2rem;
}

.featured-books h2 {
    margin-bottom: 1rem;
}

.book-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.book {
    flex-basis: calc(33.333% - 2rem);
    margin-bottom: 2rem;
}

.book img {
    width: 100%;
    height: auto;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
